{
  "env": {
    "node": true,
    "es6": true,
  },
  "parserOptions": {
    "ecmaVersion": 8,
  },
  "extends": "eslint:recommended",
  "globals": {
  },
  "rules": {
    "arrow-spacing": ["error", {"before": true, "after": true}],
    "callback-return": ["error", ["callback", "cb", "next", "done", "proceed"]],
    "comma-dangle": ["error", "always-multiline"],
    "comma-style": ["error", "last"],
    "curly": ["error"],
    "eol-last": ["error"],
    "eqeqeq": ["error", "always"],
    "handle-callback-err": ["error"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "linebreak-style": ["error", "unix"],
    "no-console": ["off"],
    "no-const-assign": ["error"],
    "no-dupe-class-members": ["error"],
    "no-duplicate-imports": ["error"],
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "no-new-symbol": ["error"],
    "no-return-assign": ["error", "always"],
    "no-sequences": ["error"],
    "no-trailing-spaces": ["error"],
    "no-undef": ["error"],
    "no-unexpected-multiline": ["error"],
    "no-unsafe-regex/no-unsafe-regex": ["error"],
    "no-unused-vars": ["error"],
    "no-useless-computed-key": ["error"],
    "no-useless-rename": ["error"],
    "no-var": ["error"],
    "one-var": ["error", "never"],
    "prefer-const": ["error"],
    "rest-spread-spacing": ["error", "never"],
    "semi": ["error", "always"],
  },
  "plugins": [
    "no-unsafe-regex",
  ],
}
